* {
    box-sizing: border-box;
    font-family: 'MazzardH', sans-serif;
}

button {
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

html {
    background: #FFFFFF;
}

html, body {
    margin: 0;
}

.header {
    margin: 0 auto;
}

.header__inner {
    margin: 25px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li a {
    text-decoration: none;
    font-size: 16px;
    color: #073158;
    padding: 0 20px;
    text-underline-offset: 2px;
}

.nav li a:hover {
    text-decoration: underline;
}

.nav li:nth-child(1) {
   text-transform: uppercase;
   font-weight: bold;
}

.header__inner button {
    background-color: #2277FF;
    color: #FFFFFF;
    border: none;
    border-radius: 45px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 14px 24px;
    font-family: 'Poppins';
    font-weight: bold;
}

.header__inner button:hover {
    cursor: pointer;
    background-color: #005aeb;
}

.main hr {
    background-color: #DCDEE0;
    height: 1px;
    border-radius: 6px;
    border: 0;
    margin: 0 25px;
}

.container {
    margin: 0 auto;
    border-radius: 16px;
    padding: 6px;
}

.hero {
    display: flex;
}

.hero__container {
    flex: 1 2 50%;
}

.hero__container h1{
    color: #073158;
    font-size: 54;
    font-family: 'Poppins';
    font-weight: bold;
}

.hero__container h1 mark{
    color: #2277FF;
    background-color: transparent;
    text-decoration: underline;
}

.hero__container h2{
    color: #747D85;
    font-size: 16;
    font-family: 'Poppins';
    font-weight: normal;
}

.btn__started {
    background-color: #FFB905;
    color: #010A1A;
    border: none;
    border-radius: 45px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 14px 24px;
    font-family: 'Poppins';
    font-weight: normal;
    cursor: pointer;
}

.btn__started:hover {
    background-color: #d19600;
}

.btn__watch {
    background-color: #FFFBEF;
    color: #424242;
    border: none;
    border-radius: 45px;
    text-transform: capitalize;
    font-size: 16px;
    padding: 14px 24px;
    font-family: 'Poppins';
    font-weight: normal;
    cursor: pointer;
}

.btn__watch:hover {
    background-color: #ffeebd;
}

.hero__image {
    flex-direction: 2 1 50%;
    overflow: hidden;
}

.icons {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.icons li {
    padding: 20px 14px;
}

.icons li svg {
    fill: #073158;
    fill-opacity: 0.35;
    cursor: pointer;
    -webkit-transition: fill-opacity 0.5s;
    transition: fill-opacity 0.5s;
}

.icons li svg:hover {
    fill-opacity: 1;
}

.footer__container {
    padding-top: 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #073158;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 16px;
}