* {
    box-sizing: border-box;
    font-family: 'MazzardH', sans-serif;
}

html, body, h1, h2, a, p, hr {
    margin: 0;
    padding: 0;
}

button {
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

html {
    background: #FFFFFF;
}

.header {
    margin: 0 auto;
    width: 90%;
}

.header__inner {
    margin: 25px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li a {
    text-decoration: none;
    font-size: 16px;
    color: #073158;
    padding: 0 20px;
    position: relative;
    transition: all 0.4s ease;
}
.nav li a::after { 
    content: "";
    position: absolute;
    height: 2px;
    background-color: #073158;
    width: 0;
    left: 50%;
    top: 100%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.nav li a:hover::after { width: 100%; }

.nav li:nth-child(1) {
   text-transform: uppercase;
   font-weight: bold;
}

.header__inner button {
    background-color: #2277FF;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 45px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 22px;
    font-family: 'Poppins';
    font-weight: 600;
}

.header__inner button:hover {
    
    background-color: #005aeb;
}

.main hr {
    background-color: #DCDEE0;
    height: 1px;
    border-radius: 6px;
    border: 0;
    margin: 1% auto;
    width: 90%;
}

.main-content {
    margin: 0 auto;
    width: 90%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 16px;
    padding: 6px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__container {
    flex: 1 2 60%;
}

.hero__container h1{
    color: #073158;
    font-size: 54px;
    font-family: 'Poppins';
    font-weight: 800;
}

.hero__container h1 mark{
    color: #2277FF;
    background-color: transparent;
    text-decoration: underline;
}

.hero__container h2{
    color: #747D85;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: normal;
    margin: 2% 0;
}
.buttons {
    margin: 4% 2% 0 0;
}
.btn__started {
    background-color: #FFB905;
    color: #010A1A;
    border: none;
    border-radius: 45px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 22px;
    font-family: 'Poppins';
    font-weight: 600;
    cursor: pointer;
}

.btn__started:hover {
    background-color: #d19600;
}

.btn__watch {
    background-color: #FFFBEF;
    color: #424242;
    border: none;
    border-radius: 45px;
    text-transform: capitalize;
    font-size: 16px;
    padding: 22px;
    font-family: 'Poppins';
    font-weight: 600;
    cursor: pointer;
}

.btn__watch:hover {
    background-color: #ffeebd;
}

.hero__image {
    flex-direction: 2 1 40%;
    overflow: hidden;
}

.icons {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.icons li {
    padding: 20px 14px;
}

.icons li svg {
    fill: #073158;
    fill-opacity: 0.35;
    cursor: pointer;
    -webkit-transition: fill-opacity 0.5s;
    transition: fill-opacity 0.5s;
}

.icons li svg:hover {
    fill-opacity: 1;
}

.brands {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.brand {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.brand li {
    padding: 20px 14px;
}

.services {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 5% 0;
}


.img img{
    height: 200px;
    width: 200px;
}

.img li {
    text-align: start;
    align-items: start;
}

.img p {
    font-family: 'Poppins';
    font-weight: 700;
    color: #073158;
    font-size: 24px;
    text-transform: capitalize;
}

.img div {
    font-family: 'Poppins';
    font-weight: normal;
    color: #747D85;
    font-size: 16px;
    padding-top: 10%;
}

.comprasion__container {
    display: flex;
}

.footer__container {
    padding: 7%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: #073158;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 16px;
}

.info p {
    padding: 10px 0;
}

.footer__container div {
    color: #FFB905;
}

.footer__container p {
    color: #FFFFFF;
}

.footer__container ul{
    list-style: none;
    padding: 0;
}

.footer__container ul li {
    color: #DADBDC;
    padding: 5px 0;
    text-underline-offset: 2px;
    transition: all 0.4s ease;
}

.footer__container ul li:hover {
    color: #FFB905;
    text-decoration: underline;
}
